body,
p,
h1,
h2,
h3,
h4,
h5,
ul,
section,
article {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  max-width: fit-content;
}

li {
  list-style: none;
}

button {
  border: none;
}

